body {
  background-color: lightgrey;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 22px 14px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
}
.container img {
  margin-right: 350px;
}
p {
  text-align: center;
}
h1 {
  text-align: left;
}
h2{
  text-align: center;
  font-size: 45px;
}