body {
  background-color: lightgrey;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 22px 14px;
  text-decoration: none;
}
li a:hover {
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
}
.container img {
  margin-right: 350px;
}
p {
  text-align: center;
}
h1 {
  text-align: left;
}
.content {
  display: flex;
  justify-content: flex-end; 
  margin: 30px; 
}

.border-box {
  border: 8px solid darkgreen;  
  padding: 20px;             
  text-align: left;          
  font-size: 18px;         
  background-color: lightgrey; 
  width: 500px; 
  margin-left: 20px; 
  height: 250px;
}
.left-images {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin-right: 400px;
}
.left-image {
  max-width: 550px; 
}